[Unit]
Description=Tele2 KeepAlive
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/tele2-keepalive.py > /var/log/tele2-keepalive.log 2>&1

[Install]
WantedBy=multi-user.target
